.home-header {
  text-align: center;
  margin: 20px 0;
}

.statistics {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  text-align: center;
}

.stat-item {
  flex: 1;
}

.stat-item span {
  font-size: 24px;
  font-weight: bold;
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-result-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  width: 30%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  cursor: pointer;
  text-align: center; 
}

.search-result-item h3 {
  margin: 0;
  margin-bottom: 10px;
}

.search-result-item p {
  margin: 0;
  text-align: center; 
}

.search-result-item:hover {
  background-color: #f9f9f9;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.page-button {
  padding: 10px 15px;
  margin: 0 5px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-button.active,
.page-button:hover {
  background-color: #0056b3;
}

.campsite-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}

.stat-item {
  flex: 1;
  cursor: pointer; 
}

.stat-item:hover {
  text-decoration: underline; 
}
