.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.regiondropdown {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchinput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  flex-grow: 1;
}

.searchbutton {
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbutton:hover {
  background-color: #0056b3;
}


.container{
  display: flex;
}