/* EmailVerification.css */
.EmailVerification {
    display: flex;
    flex-direction: column;
  }
  
  .EmailVerification .input-container,
  .EmailVerification .auth-code-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between input and button */
  }
  
  .EmailVerification .email-input,
  .EmailVerification .auth-code-input {
    flex: 1; /* Ensure input takes up available space */
    height: 94px; /* Match form-field height */
    background-color: white;
    border-radius: 12.24px;
    border: 1.53px solid #D9D9D9;
    padding: 18.36px;
    font-size: 41.31px;
    color: #B3B3B3;
    box-sizing: border-box;
  }
  
  .EmailVerification .email-input::placeholder,
  .EmailVerification .auth-code-input::placeholder {
    color: #B3B3B3;
  }
  
  .EmailVerification .send-button{
    width: 731px;
    height: 90px;
    display: inline-flex;
    align-items: center;
    justify-content: center; 

    background-color: #2C2C2C;
    border-radius: 11.92px;
    color: #F5F5F5;
    margin: 20px auto;
  }
  .EmailVerification .verify-button {
    width: 731px;
    height: 90px;
    justify-content: center; 

    display: inline-flex;
    align-items: center;
    background-color: #2C2C2C;
    border-radius: 11.92px;
    color: #F5F5F5;
    margin: 20px auto;
  }
  
  .EmailVerification .send-button:disabled,
  .EmailVerification .verify-button:disabled {
    background-color: #B3B3B3;
    border: 1.53px solid #B3B3B3;
    cursor: not-allowed;
  }
  
  .EmailVerification .error-message {
    color: red;
    font-size: 16px;
  }
  