.update-password-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: 400px; 
  height: 400px; /* 높이를 약간 조정 */
}

.update-password-container h2 {
  margin-bottom: 20px; /* 마진을 약간 줄임 */
  font-size: 24px;
  color: #333;
}

.update-password-container .form-group {
  margin-bottom: 15px; /* 각 입력 필드 간 간격 */
}

.update-password-container label {
  display: block;
  margin-bottom: 5px; /* 레이블과 입력 필드 간 간격 */
  font-size: 16px;
  font-weight: 800;
  color: #666;
}

.update-password-container input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.update-password-container .button-group {
  display: flex;
  margin-top: 50px;
}

.update-password-container button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-password-container button[type="submit"] {
  background-color: #007bff;
  color: white;
}

.update-password-container button[type="submit"]:hover {
  background-color: #0056b3;
}

.update-password-container button[type="button"] {
  background-color: #ccc;
}

.update-password-container button[type="button"]:hover {
  background-color: #999;
}
