
.Group11 {
  width: 550px; 
  padding: 20px; 
  background: white;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  display: flex;
  flex-direction: column;
  margin: 80px auto;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  color: #1E1E1E;
  margin-bottom: 20px;
}


.form-field {
  margin-bottom: 12px; 
  margin-right: 30px;
}

.form-field input {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
}

.form-field input::placeholder{
  color: #B3B3B3;
}

.form-field input:disabled {
  background-color: #F0F0F0;
}

.field-label {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 6px;
}


.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.ButtonGroup {
  display: flex;
  gap: 100px; 
  margin-top: 40px; 
}

.Main-Button {
  flex: 1;
  height: 40px; 
  background-color: #2C2C2C;
  border-radius: 8px;
  border: 1px solid #2C2C2C;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F5F5;
  font-size: 16px; 
  font-weight: 400;
  cursor: pointer; 
}

.Join-Button {
  flex: 1;
  height: 40px; 
  background-color: #2C2C2C;
  border-radius: 8px;
  border: 1px solid #2C2C2C;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F5F5;
  font-size: 16px; 
  font-weight: 400;
  cursor: pointer; 
}

.Join-Button:hover,
.Main-Button:hover{
  color: #5e5e5e;
}


.Button:disabled {
  background-color: #E0E0E0; 
  border: 1px solid #B0B0B0; 
}

.Join-Button:disabled {
  color: #B0B0B0; 
  cursor: not-allowed;
  
}
