.profile-container {
  width: 1132px;
  height: 876px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.profile-title {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;

}


.profile-info {
  padding-bottom: 20px;
}


.info-item {
  margin-left: 40px;
  font-size: 18px;
  margin-bottom: 40px;
  
}


.update-password-button {
  background-color: #7b7f88; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 40px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.update-password-button:hover {
  background-color: #5ea1e9; 
}


.user-reservation {
  margin-top: 20px;
}
