.reset-password-container {
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 400px; 
    
    margin: auto;
  }
  
  .reset-password-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    height: 50px;
  }
  
  .reset-password-container .form-group {
    margin-bottom: 15px;
    height: 100px;
    width: 100%;
  }
  
  .reset-password-container label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    width: 400;
    color: #666;
  }
  
  .reset-password-container .form-group .input-email{
    width: 90%;
    
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .reset-password-container .button-group {
    display: flex;
    justify-content: left;
    width: 100%;
  }
  
  .reset-password-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .reset-password-container button[type="submit"] {
    background-color: #007bff;
    color: white;
  }
  .reset-password-container button[type="submit"]:hover {
    color: #B3B3B3;
    
  }
  
  
  
  .reset-password-container button[type="button"] {
    background-color: #ccc;
  }

  .reset-password-container button[type="button"]:hover {
    color: #B3B3B3;
  }
  
  .reset-password-container p {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
  }
  
  .reset-password-container p[style*="color: red"] {
    color: red;
  }
  