.user-coupons-container {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    margin-top: 100px;
    margin-bottom: 200px;
  }
  
  .user-coupons-title {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  