.Group {
  width: 550px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  display: flex;
  flex-direction: column;
  margin: 80px auto;
}


.ButtonGroup {
  display: flex;
  gap: 100px;
  margin-top: 40px;
}

.Kakao-Button {
  flex: 1;
  height: 40px;
  background-color: #fee92b;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.Toss-Button {
  flex: 1;
  height: 40px;
  background-color: #2298ff;
  border-radius: 8px;
  border: 1px solid #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F5F5;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 1001;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.modal-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.modal-content li {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.modal-content li h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.modal-content li p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.modal-content li button {
  align-self: flex-end;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content li button:hover {
  background-color: #333;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.coupon-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.selected-coupon p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.coupon-section button {
  padding: 8px 12px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.coupon-section button:hover {
  background-color: #333;
}