.container {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 800px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.select {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.input {
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    flex: 1;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.size-6 {
    color: #333; /* You can adjust the color */
}